/* includeLight */
[light]  {
    --var-bgcolor: #fff;
    --var-fontcolor: #2A254B;

}

[dark] {
    --var-bgcolor: #2A254B;
    --var-fontcolor: #EBE8F4;
}


.body {
    box-sizing: border-box; 
    background-color: var(--var-bgcolor);   
}

.body a{
    text-decoration: none;    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #EBE8F4; 
}

.header-menu-item {
    display: inline-block;
    padding-right: 44px;
}

.header-logo {
    color: var(--var-fontcolor);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    padding-left: 80px;
}

.header-menu-item a{
    color: #726E8D;
    font-family: 'Open Sans';
    font-size: 16px;    
    font-weight: 400;    
}

.header-checkbox {
    color: #726E8D;
    font-family: 'Open Sans';
    font-size: 16px;    
    font-weight: 400; 
}

.header-icons {
    display: flex;
    justify-content: end;
}

.icon-search {
    display: block;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;   
    width: 16px;
    height: 16px;
    padding-right: 16px;
}

.icon-shopping {
    display: block;
    background-image: url(../img/shopping--cart.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    padding-right: 16px;
}

.icon-avatar {
    display: block;
    background-image: url(../img/user--avatar.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    padding-right: 80px;
}

.main-tatle {
    color: var(--var-fontcolor);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;    
}

.select {
    width: auto;
    color: var(--var-fontcolor);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
    border: none;
    appearance: none;
    background: url(../img/Caret--down\ \(1\).svg) no-repeat right;
}

.main-filtrs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 24px 80px;
}

.sorting-article span {
    color: var(--var-fontcolor);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    padding-right: 16px;
}

.main-inform-product {
    display: flex;
    justify-content: center;    
}

.main-img-product {
    
    width: 1280px;    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 28px;
}

.neme-product {
    color: var(--var-fontcolor);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    margin-top: 24px;    
}

.praice-product {
    color: var(--var-fontcolor);
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
}

.view-collection {
    display: inline-block;
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;    
    font-weight: 400;
    background: var(--Light-Grey, #F9F9F9);
    padding: 16px 32px;
    margin-top: 48px;
}

.main-batton {
    display: flex;
    justify-content: center;
}

.main-registretion {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../img/join-background.jpg);
    background-repeat: no-repeat;
    height: 521px;
    margin-top: 40px;    
}

.main-inform-registretion {
    padding-left: 49px;
    align-items: start;
    grid-column: 2/3;
}

.main-registretion-tatle {
    margin-top: 71px;
    color: var(--var-fontcolor);
    /* text-align: center; */
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
}

.main-registretion-text {
    margin-top: 21px;
    color: var(--var-fontcolor);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}

.main-registretion-button {
    margin-top: 216px;
    display: inline-block;
    color: var(--var-bgcolor);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    background: var(--var-fontcolor);
    padding: 16px 32px;
    margin-left: 23px;
}

.footer {
    background: var(--var-fontcolor);
}

.footer-linkedin {
    display: block;
    background-image: url(../img/logo--linkedin.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding-right: 16px;
    color: var(--var-bgcolor);
}

.footer-facebook {
    display: block;
    background-image: url(../img/logo--facebook.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding-right: 16px;
    color: var(--var-bgcolor);
}

.footer-instagram {
    display: block;
    background-image: url(../img/logo--instagram.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding-right: 16px;
    color: var(--var-bgcolor);
}

.footer-logo-skype {
    display: block;
    background-image: url(../img/logo--skype.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding-right: 16px;
    color: var(--var-bgcolor);
}

.footer-twitter {
    display: block;
    background-image: url(../img/logo--twitter.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding-right: 16px;
    color: var(--var-bgcolor);
}

.footer-pinterest {
    display: block;
    background-image: url(../img/logo--pinterest.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding-right: 16px;
    color: var(--var-bgcolor);
}

.footer-menu-item {
    color: var(--var-bgcolor);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;    
}

.footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
    column-gap: 100px;
    row-gap: 12px;    
}

.footer-img {
    display: block;   
}

.footer-contener {
    display: flex;
    justify-content: space-between;    
    padding: 60px 80px;    
}

.footer-text {
    color: var(--var-bgcolor);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
}

.footer-icon {
    display: flex;
    justify-content: end;
}

.footer-finish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    border-top: 1px solid #4E4D93;
    margin: 0 80px;
}

.footer-menu-item.end-item {
    grid-column: 2/3;    
}